
.jumbotron {
  background: url("img/kobietaokular.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/kobietaokular.jpg) no-repeat; /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/kobietaokular.jpg) no-repeat; /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/kobietaokular.jpg) no-repeat; /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0.75) 10%, rgba(255,255,255,0.55) 20%, rgba(255, 255, 255, 0.7) 65%, rgba(255,255,255,1) 85%), url(img/kobietaokular.jpg) no-repeat 35% 40%; /*Standard*/
  height: 400px;
}

#omnie-container {
  height: 100vh;
}

#kontakt-container {
  position: relative;
  height: 100vh;
}

#scrolltop  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  opacity: 0.5;
}

#scrolltop:hover  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  opacity: 1;
  cursor: pointer;
}

.fa {
  font-size: 55px;
}
