html, body {
    font-family: 'Sarala', sans-serif;
    color: black;
    height: 100%;
}

h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;

}

.jumbotron {
  background: url("img/geek.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url(img/geek.jpg) no-repeat 0% 30%; /*Standard*/
  background-size: cover;
  height: 400px;
}

nav.navbar {
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 3px solid lightgrey;

}

.navbar a.navbar-brand {
  color: #000;
}

.navbar a.navbar-brand:hover {
  color: #444;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #444;
}


.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#000' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: #000;
  border-width: 2px;
  margin: 12px 0 5px 0;

}

.duze-logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
  font-size: 36px;
  transition: 0.4s;
}

.duze-linki  {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 700;
  transition: 0.4s;
}

.male-logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  transition: 0.4s;
}

.male-linki  {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 14px;
  transition: 0.4s;
}

#jumbotron {
  padding-top: 68px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tytuly {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2px;
}

.margintop {
  margin-top: 25px;
}
.card {border: 0}
img.img-thumbnail {border: 0; padding: 0}

.card-title  {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 24px;
}

#omnie {
  padding-bottom: 40px;
}

#omnie-container {
  padding-top: 68px;
  margin-top: 0px;
}

.card {
  margin: 10px;
}

#kontakt {
  background-color: #ededed;
}

#kontakt-container {
  position: relative;
  padding-top: 68px;
  padding-bottom: 55px;
}

p.marginbot {margin-bottom: 5px}
button.kontakt {margin-top: 5px}
input.kontakt, textarea.kontakt {margin-bottom: 15px}

#scrolltop  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color:black;
  opacity: 0.2;
}

#scrolltop:hover  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  background-color: black;
}

#scrolltop > .fa {
  font-size: 55px;
  color: white;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;

}

.fb {
  background-color: #3b5998
}
.tw {
  background-color: #55acee;
}
.git {
  background-color: white;
}

.git:hover, .git:active {background-color: lightgrey}

.fa-facebook, .fa-twitter {
  font-size: 35px;
}

.fa-github, .fa-codepen {
  font-size: 35px;
  color: black;
}

.footer-link  {
  color: white;
}

.footer-link:hover  {
  color: lightgrey !important;
}

.footer-link:visited  {
  color: white;
}

@media all and (min-width: 768px) {
  .navbar-fixed-menu, .stopka {
    width: 768px;
    margin-left: auto;
    margin-right:auto;
 }
}

@media all and (min-width: 992px) {
  .navbar-fixed-menu, .stopka   {
    width: 992px;
    margin-left: auto;
    margin-right:auto;
  }

}

@media all and (min-width: 1200px) {
  .navbar-fixed-menu, .stopka {
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
  }
}
