html, body {
    color: #343444;
}

.jumbotron {
  background: url("img/geek.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat; /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(img/geek.jpg) no-repeat 0% 40%; /*Standard*/
  background-size: cover;
  height: 400px;
}

.navbar-duzy {
  background-color: #343444;
  height: 57px;
  border: 0px;
  padding: 0px 20px 2px 25px;
  transition: 0.4s;
}

.navbar-maly {
  background-color: #343444;
  height: 40px;
  border: 0px;
  padding: 0px 20px 2px 25px;
  transition: 0.4s
}


.duze-logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
  font-size: 30px;
  color: white;
  transition: 0.4s;
}
.duze-logo:hover {
  color: #F1F2DF;
  }

.duze-logo:visited {
  color: white;
}

.duze-linki  {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition: 0.4s;
}

.duze-linki:hover  {
  color: #F1F2DF;
  font-weight: bold;
}

.duze-linki:visited  {
  color: white;
  font-weight: bold;
}

.male-logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
  padding: 5px;
  font-size: 18px;
  color: white;
  transition: 0.4s;
}
.male-logo:hover {
  color: #F1F2DF;
  font-weight: bold;
}

.male-logo:visited {
  color: white;
  font-weight: bold;
}

.male-linki  {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: 0.4s;
}

.male-linki:hover  {
  color: #F1F2DF;
  font-weight: bold;
}

.male-linki:visited  {
  color: white;
  font-weight: bold;
}

#jumbotron {
  padding-top: 57px;
}

#omnie-container {
  padding-top: 56px;
  
}

.card {
  margin: 10px;
}

#kontakt-container {
  position: relative;
  padding-top: 56px;
  height: 100vh;
}

#scrolltop  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  opacity: 0.5;
}

#scrolltop:hover  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  opacity: 1;
  cursor: pointer;
}

#scrolltop > .fa {
  font-size: 55px;
}



@media all and (min-width: 768px) {
  .navbar-fixed-width {
    width: 768px;
    margin-left: auto;
    margin-right:auto;
 }
}

@media all and (min-width: 992px) {
  .navbar-fixed-width {
    width: 992px;
    margin-left: auto;
    margin-right:auto;
  }

}

@media all and (min-width: 1200px) {
  .navbar-fixed-width {
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
  }
}
